/* slider */
.slider-img {
    max-width: 357px;
}

.single-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.candle-slider {
    display: flex !important;
    flex-direction: row;
    max-width: 1024px;
    align-items: center;
}

.slider-container {
    margin: 0 auto;
    max-width: 1024px;
}

.slick-prev:before, .slick-next:before {
    color: #000 !important;
}

.slick-next {
    right: 0 !important;
    z-index: 9;
}

.slick-prev {
    left: 0 !important;
    z-index: 9;
}

.product-info-inner {
    width: 100%;
    max-width: 357px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.more-info-button {
    color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #000;
}

.more-info-button {
    text-decoration: none;
}

.product-title-container {
    width: 100%;
    max-width: 357px;
    display: flex;
    flex-direction: row;
}